@import './typography.scss';

* {
    margin: 0;
    padding: 0;

}



body {
    background: #000;
    color: #fff;
    font-family: "Almarena-Regular", georgia, serif;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    background: src('../public/images/GoldenCanonGrid-1920.png') cover;
}