@font-face {
	font-family: "jenriv";
	src: url("./fonts/JenrivTitling-Regular.otf");
  }
@font-face {
	font-family: "jenriv-light";
	src: url("./fonts/JenrivTitling-Light.otf");
  }
@font-face {
	font-family: "jenriv-bold";
	src: url("./fonts/JenrivTitling-Bold.otf");
  }

 